body {background-color: grey}

.T {background-color: lightseagreen;
    font-size:16pt;
    font: Veranda;
    border-style: solid;
    border-width: 5px;}
td {border-style: solid;
    border-width: 2px;
    background-color:white;}

h1{font-size: 18pt;
   font: Veranda;
   text-align: center;
   }
div {background-color: lightseagreen;
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;}

